@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any custom base styles here if you need them. */
body {
  font-family: 'Inter', sans-serif; /* Example of a custom font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom class for a slightly larger loader, for example */
.loader-lg {
  width: 3rem;
  height: 3rem;
}